* {
	font-family: 'Outfit', sans-serif;
	background-color: hsl(212, 45%, 89%);
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	width: 320px;
	height: 497px;
	padding: 16px;
	/* box-shadow: gray 1px 1px 1px 1px; */
	border-radius: 18px;
	border-style: none;
	background-color: white;
}

.content {
	text-align: center;
	background-color: white;
	height: 129px;
	width: 288px;
	padding-bottom: 40px;
}

img {
	height: 288px;
	width: 288px;
	border-radius: 10px;
}

h1 {
	color: #1f314f;
	background-color: white;
	font-size: 22px;
	margin-top: 24px;
}

p {
	font-size: 15px;
	color: #7d889e;
	background-color: white;
	margin: 16px 16px 0 16px;
}
